<div class="">
    <img src="./images/symbol-colored.svg" alt="">
    <h3 class="text-center">Contentful GmbH</h3>
</div>

<ul class="list-group">
    <a class="list-group-item" href="https://www.contentful.com/use-cases/">Use cases</a>
    <a class="list-group-item" href="https://www.contentful.com/features/">Under the hood</a>
    <a class="list-group-item" href="https://www.contentful.com/faq/">FAQ</a>
    <a class="list-group-item" href="https://www.contentful.com/contact/">Contact us</a>
    <a class="list-group-item" href="https://www.contentful.com/legal/">Legal information</a>
</ul>

<p class="text-muted text-center">App Version 0.1</p>


