<div class="col-xs-12" class="list-group">
    <a *ngFor="#product of products | async" class="list-group-item"
       [routerLink]="['ProductDetail', {productId: product.sys.id}]">
        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" src="{{product.fields.image[0].fields.file.url}}?h=64&w=64&fit=pad" alt="">
            </div>
            <div class="media-body media-middle">
                <h4 class="media-heading">{{product.fields.productName}}</h4>
            </div>
        </div>
    </a>
</div>






