 <p *ngIf="product">
  <mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>{{ product.fields.productName }}</mat-card-title>
      <mat-card-subtitle>{{ product.fields.sizetypecolor }} | <strong>Price: {{ product.fields.price }} $</strong></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab *ngIf="product.fields.image" label="Image">
          <div class="tab-container">
            <img class="u-marginAutoHorizontal" src="{{ product.fields.image[0].fields.file.url }}">
            <p>{{ product.fields.image[0].fields.description }}</p>
          </div>
        </mat-tab>
        <mat-tab label="Description">
          <div class="tab-container">
            <p>{{ product.fields.productDescription }}</p>
            <p>SKU: {{ product.fields.sku || 'SKU not available' }}</p>
          </div>
        </mat-tab>
        <mat-tab *ngIf="product.fields.brand" label="Brand">
          <div class="tab-container">
            <div class="brand-panel">
              <div class="brand-panel-img">
                <img src="{{ product.fields.brand.fields.logo.fields.file.url }}">
              </div>
              <div>
                <h3>{{ product.fields.brand.fields.companyName }}</h3>
                <p>{{ product.fields.brand.fields.companyDescription }}</p>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</p>
