<div class="list-group">
    <a *ngFor="#category of categories" class="list-group-item"
       [routerLink]="['ProductsByCategory', {categoryId: category.sys.id}]">
        <div class="media">

            <div class="media-left media-middle">
                <img class="media-object" src="{{category.fields.icon.fields.file.url}}?h=64&w=64&fit=pad" alt="">
            </div>

            <div class="media-body">
                <h4 class="media-heading">{{category.fields.title}}</h4>
                {{category.fields.categoryDescription}}
            </div>
        </div>
    </a>
</div>






