.item img {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.btn {
  width: 100%;
}

.price {
  float:left;
}
.in-stock {
  width: 100%;
  text-align: right;
}

.carousel-control {
  background-image: none;
  color: black;
}
.carousel-indicators > li {
  background-color: black;
  color: black;
}

